
  <head>
    <style type="text/css"
         body{
                background-image: url('backgr.png');
                }
   </style>  
   
 </head>
<script>
  window.watsonAssistantChatOptions = {
      integrationID: "7db7365c-9daf-4ad8-b95f-db7c7200f324", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "8f1c4d0a-c5d0-4283-9980-6a5a8afcd1a6", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>

